<div >
    <form class="register-form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        
        <input name="email" type="email" placeholder="Email" [(ngModel)]="email" #ctrl="ngModel" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$">
        <div *ngIf="ctrl.invalid && (ctrl.dirty || ctrl.touched)" class="alert">
            <div *ngIf="ctrl.errors?.['required']">
                Email is required.
            </div>
            <div *ngIf="ctrl.errors?.['pattern']">
                Email is invalid.
            </div>
        </div>

        <input name="username" type="text" placeholder="Username" [(ngModel)]="username"  #ctrl1="ngModel" required minlength="5" maxlength="100">
        <div *ngIf="ctrl1.invalid && (ctrl1.dirty || ctrl1.touched)" class="alert">
            <div *ngIf="ctrl1.errors?.['required']">
                Username is required.
            </div>
            <div *ngIf="ctrl1.errors?.['minlength']">
                Username must be at least 5 characters long.
            </div>
            <div *ngIf="ctrl1.errors?.['maxlength']">
                Username cannot be more than 100 characters long.
            </div>
        </div>

        <input name="password" type="password" placeholder="Password" [(ngModel)]="password" #ctrl2="ngModel"required minlength="10" maxlength="50">
        <div *ngIf="ctrl2.invalid && (ctrl2.dirty || ctrl2.touched)" class="alert">
            <div *ngIf="ctrl2.errors?.['required']">
                Password is required.
            </div>
            <div *ngIf="ctrl2.errors?.['minlength']">
                Password must be at least 10 characters long.
            </div>
            <div *ngIf="ctrl2.errors?.['maxlength']">
                Password cannot be more than 50 characters long.
            </div>
        </div>

        <button>Register</button>
    </form>
</div>