$font-family: Quicksand, sans-serif;
$font-size: 16px;

$colors: (
    // primary: #94E8B4,
    // secondary: #72BDA3,
    // tertiary: #5E8C61,
    // fourth: #4E6151,
    // fifth: #3B322C,

    primary: #004643,
    secondary: #9A031E,
    tertiary: #CB793A,
    fourth: #0C1618,
    fifth: #3B322C,

    background-neutral: #e4dfc8,

    white: #fff,
    black: #000,
);
