$font-family: Quicksand, sans-serif;
$font-size: 16px;

$colors: (
    // primary: #94E8B4,
    // secondary: #72BDA3,
    // tertiary: #5E8C61,
    // fourth: #4E6151,
    // fifth: #3B322C,

    // primary: #394655,
    // secondary: #367D88,
    // tertiary: #23BDB1,
    // fourth: #B9D6D4,
    // fifth: #3B322C,

    whites: #f2f4f3,
    whites1: #e8e6eb,


    blackes: #28262C,
    blackes1: #4e4b52,
    blackes2: #77747b,
    blackes3: #a2a0a7,
    blackes4: #d1ced6,


    accentIndigo: #998fc7,
    accentIndigo1: #786fa5,
    accentIndigo2: #595184,
    accentIndigo3: #3a3565,
    accentIndigo4: #1c1b47,

    background-neutral: #DFD9C3,

    white: #fff,
    black: #000,
    gray: #808080,
);
