<h1>TEST SIMULATION</h1>
<div class="main">
    <div class="plansza">PLANSZA
        <div>WYMAGANIE 1</div>
        <div>WYMAGANIE 2</div>
        <div>WYMAGANIE 3</div>
        <div>WYMAGANIE 4</div>
        <div>WYMAGANIE 5</div>
        <div>WYMAGANIE 6</div>
        <div>OPIS WYMAGANIA</div>
    </div>
    <div class="sidebar">SIDEBAR
        <div>KOLEJNE WYMAGANIE</div>
        <div>WSKAZÓWKA</div>
        <div class="lista-uczestnikow">LISTA UCZESTNIKOW
            <div>Uczestnik 1</div>
            <div>Uczestnik 2</div>
            <div>Uczestnik 3</div>
            <div>Uczestnik 4</div>
            <div>Uczestnik 5</div>
            <div>Uczestnik 6</div>
        </div>
        <div>
            <button>PAS</button>
        </div>
    </div>
</div>
